body {
  margin: 0;
  padding: 0;
  width: 1200px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  line-height: 17px;

  background-color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-top-navigation {
  margin: 0;
  background-color: #293449;

  list-style: none;
  text-align: center;
}

.button-top {
  display: inline-block;
  width: 150px;
  height: 28px;
  padding-top: 14px;
  
  font-size: 17px;
  color: #ffffff;
  line-height: 18px;
}

.logo {
  display: inline-block;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.logo-top {
  width: 220px;
  height: 34px;
  padding-top: 13px; 

}
.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  outline: none;
}

.logo:active {
  background-color: #ba2732;
}

.search-form {
  width: 270px;
  height: 42px; 
}

.search {
  border: none;
  width: inherit;
  height: inherit;
  padding-left: 49px;

  font-size: 17px;
  color: #ffffff;

  background: transparent url("../img/icon-search.svg") no-repeat 17px 12px;
}

.search:focus {
  outline: none;
  
  background-color: #ffffff;
  color: #000000;
}

.top-header-bookmarks {
  background: url("../img/icon-bookmark.svg") no-repeat 17px 12px;
}

.top-header-cart {
  background: url("../img/cart-icon.svg") no-repeat 17px 12px;
}

.top-header-bookmarks,
.top-header-cart {
  padding-left: 44px;
  width: 106px; 
}

.top-header-bookmarks:hover,
.top-header-cart:hover,
.top-header-bookmarks:focus,
.top-header-cart:focus  {
  background-color: #212a3a;
  outline: none;
}

.top-header-bookmarks:active,
.top-header-cart:active {
  color: rgba(255, 255, 255, 0.6);
}

.top-header-order {
  width: 150px;
  
  background-color: #63a63e;
}

.top-header-order:hover,
.top-header-order:focus {
  background-color: #5fbb2d;
}

.top-header-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-info {
  margin: 0;
  background-color: #f1f5f7;
}

.header-mid-info {
  list-style: none;
}

h1 {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

.header-info-phone-number {
  font-size: 21px;
  color: #e9292a;
  border: solid 3px #ffffff;
  background: url("../img/icon-phone.svg") no-repeat 
}

.header-info-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.sign-in {
  background: url("../img/icon-login.svg") no-repeat;
}

.user-button {
  background-color: #ffffff;

  font-size: 21px;
  color: #000000;
}

.user-button:hover,
.user-button:focus {
  color: #ee3643;
}

.use-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-navigation {
  margin: 0;
  background-color: #293449;
  list-style: none;
}

.site-navigation a {
 color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  outline: none;

  background-color: #1d2739;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.subtitle {
  font-size: 30px;
}

.normal-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-partners {
  font-size:18px;
  line-height: 20px;
}

.red-button {
  background-color: #ee3643;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.footer-bottom-navigation {
  background-color: #32425c;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-menu {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.menu a {
  color: #f1f5f7;
}

.footer-menu a:hover,
.footer-menu a:focus {
  text-decoration: underline;
}

.sub-menu a {
  color: #ffd180;
}

.menu a:active{
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.sub-menu a:active {
 color: rgba(255, 209, 128, 0.5);
 text-decoration: none;
}
 .additional-info {
   background-color: #293449;

   font-size: 16px;
   line-height: 18px;
   color: #ffffff;
 }

 .additional-info a {
  color: #ffd180;
 }

 .additional-info a:hover,
 .additional-info a:focus {
   text-decoration: underline;
 }

 .additional-info a:active {
   text-decoration: none;
   color: #ee3643;
 }

 .footer-social {
   list-style: none;
 }

 .social-button {
   width: 42px;
   height: 42px;
   
   background-color: #212a3a;
   border-radius: 50%;
 }

 .social-button:hover,
 .social-button:focus,
 .social-button:active {
  background-color: #ee3643;
 }
 
 .vk {  
    background: url("../img/vk-icon.svg") no-repeat 50% 50%;
 }
 /*не понимаю про ссылка, они у нас пустые, добавлять иображение в li?
  но на него не нажать тогда как на ссылку */

 .catalog-menu {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
 }

 .catalog-menu a{
  color: #000000;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
  color: rgba(0, 0, 0, 0.4);
}

 .home {
   background: url("../img/icon-home.svg") no-repeat 0% 50%;
 }

 .catalog-h2 {
  background-color: #f2f6f8;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
 }

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
}

.filter button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.catalog-block {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

}

.catalog-items li {
  width: 220px;
  height: 318px;
  border: solid 1px #e5e5e5;

  text-align: center;
}

.catalog-items li:hover,
.catalog-items li:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-items li:hover img,
.catalog-items li:focus img {
  display: none;
}

.catalog-items li:hover .buy-button,
.catalog-items li:hover .to-bookmarks,
.catalog-items li:focus .buy-button,
.catalog-items li:focus .to-bookmarks {
  display: inline-block;
}
.buy-button {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background: #63a63e url("../img/cart-icon.svg") no-repeat 12px 50%;
  margin-top: 44px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  
  display: none;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
  display: inline-block;
}

.buy-button:active {
  background-color: #518534;
}

.to-bookmarks {
  width: 129px;
  height: 32px;
  border: solid 3px #63a63e;
  margin-top: 7px;
  margin-bottom: 47px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  
  display: none;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
  border: solid 3px #32425c;
}

.to-bookmarks:active {
  opacity: 0.3;
}

.catalog-items h3 {
  font-size: 18px;
  line-height: 20px;
}

.catalog-items p {
  line-height: 18px;
  color: #999999;
  font-weight: bold;
}

.catalog-item-buy-option {
  display: inline-block;
  width: 141px;
  height: 38px;
  
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  background: url("../img/btn.svg") no-repeat;
}