body {
  width: 100%;
  min-width: 1200px;
  
  font-family: "Cuprum", 'Arial Narrow', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.content-container {
  width: 1070px;
  margin: auto;
  padding-left: 130px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

/* Стили для header и его элементов*/
header {
  width: 100%;
  min-width: 1200px;
  min-height: 320px;
  
  background-color: #f1f5f7;
}

.decorative-lane-top-bottom {
  width: 100%;
  min-width: 1200px;
  min-height: 42px;
  
  background-color: #293449;
}

.header-top-navigation {
  position: relative;
  
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
}

.header-top-navigation li:first-child {
  width: 220px;
}

.button-top {
  padding-top: 12px;
  padding-bottom: 13px;
  
  display: block;
  
  color: #ffffff;
}

.logo {
  position: absolute;
  
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo-top {
  padding: 13px 55px;
  padding-right: 56px; 
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  outline: none;
}

.logo:active {
  background-color: #ba2732;
}

.search-form {
  width: 271px;
  height: 42px;
  
  position: relative;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-form:active {
  background-color: #293449;
}

.search::placeholder {
  color: #ffffff;
}

.search-form .search {
  width: inherit;
  height: inherit;
  padding-left: 49px;
  border: none;
  
  font-size: 17px;
  color: #ffffff;
  
  background-color: transparent;
}

.search-form svg {
  width: 17px;
  height: 17px;
  
  position: absolute;
  top: 13px;
  left: 17px;
  
  fill: #ffffff;
  opacity: 0.3;
}

.search-form:hover svg {
  opacity: 1;
}

.search-form:active svg {
  opacity: 0.3;
}

.search:focus {
  outline: none;
  
  background-color: #ffffff;
  color: #000000;
}

.search:focus + svg {
  fill: #ee3643;
  opacity: 1;
}

.bookmarks-conteiner {
  position: relative;
}

.top-header-bookmarks {
  padding-left: 44px;
  padding-right: 41px;
  
  position: relative;
}

.top-header-bookmarks svg,
.top-header-cart svg {
  position: absolute;
  top: 13px;
  left: 17px;
  
  fill: #ffffff;
  opacity: 0.3;
}
.cart-conteiner {
  position: relative;
}

.top-header-cart {
  padding-left: 50px;
  padding-right: 43px;
  
  position: relative;
}


.top-header-bookmarks:hover,
.top-header-cart:hover,
.top-header-bookmarks:focus,
.top-header-cart:focus  {
  background-color: #212a3a;
  outline: none;
}

.top-header-bookmarks:active,
.top-header-cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.top-header-bookmarks:hover svg,
.top-header-cart:hover svg,
.top-header-bookmarks:focus svg,
.top-header-cart:focus svg {
  opacity: 1;
}

.top-header-bookmarks:active svg,
.top-header-cart:active svg {
  opacity: 0.5;
}

.top-header-item-numbers {
  width: 35px;
  min-height: 32px;
  border: none;

  position: absolute;
  right: 3px;
  top: 4px;

  color: #ffffff;
  
  background-color: #293449;
  outline: none;
  cursor: pointer;
}
.top-header-bookmarks:hover + input[type="number"],
.top-header-cart:hover + input[type="number"],
.top-header-bookmarks:focus + input[type="number"],
.top-header-cart:focus + input[type="number"] {
  background-color: #212a3a;
}

.top-header-bookmarks:active + input[type="number"],
.top-header-cart:active + input[type="number"] {
  color: rgba(255, 255, 255, 0.6); 
  background-color: #161d29;
}

.not-empty-button-top {
  background-color: #ee3643;
}

.not-empty-button-top + input[type="number"] {
  background-color: #ee3643;
}

.not-empty-button-top:hover,
.not-empty-button-top:focus {
  background-color: #c72c37;
}

.not-empty-button-top:hover + input[type="number"],
.not-empty-button-top:focus + input[type="number"] {
  background-color: #c72c37;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.top-header-order {
  padding: 12px 20px;
  padding-bottom: 13px;
  
  background-color: #63a63e;
}

.top-header-order:hover,
.top-header-order:focus {
  background-color: #5fbb2d;
}

.top-header-order:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #518534;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
}

.header-info h1 {
  width: 197px;
  margin-top: 44px;
  margin-left: 52px;
  
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
}

.header-mid-info {
  padding: 0;
  margin: 0;
  margin-left: 63px;
  padding-top: 46px;
  padding-bottom: 24px;
  
  list-style: none; 
}

.phone-adress-container {
  margin-top: 15px;
}

.header-info-phone-number {
  padding-left: 74px;
  padding-right: 52px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: solid 3px #ffffff;
  
  font-size: 21px;
  color: #e9292a;
  
  background: url("../img/icon-phone.svg") no-repeat 15px 13px;
}

.header-info-address {
  padding-top: 5px;
  
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.sign-in {
  padding-left: 48px;
  padding-right: 27px;
  
  position: relative;
}

.sign-in svg {
  position: absolute;
  top: 14px;
  left: 14px;
  
  fill: #c5c5c5;
}

.registration {
  margin-left: 10px;
  padding-left: 23px;
  padding-right: 23px;
}

.log-in-register-block {
  width: 283px;
  margin-left: 30px;
  margin-top: 46px;

  display: flex;
  flex-wrap: wrap;
  
  list-style: none;
}

.account-menu {
  width: 350px;
  margin-top: 46px;
  margin-left: 12px;
  
  position: relative;
  
  display: flex;
  flex-wrap: wrap;
  
  list-style: none;
}

.login-name {
  width: 186px;
  padding-left: 47px;
  padding-right: 69px;
  margin-bottom: 10px;
  
  position: relative;
}

.login-name svg {
  position: absolute;
  top: 13px;
  left: 13px;
  
  fill: #c5c5c5;
}

.user-name {
  position: relative;
}

.logout {
  width: 40px;
  height: 15px;
  
  position: absolute;
  top: 0px;
  right: 0;
}

.logout svg {
  position: absolute;
  top: 15px;
  right: 10px;
  
  fill: #c5c5c5;
}

.my-orders {
  padding-left: 17px;
}

.dot {
  width: 4px;
  height: 4px;
  margin-left: 15px;
  margin-right: 13px;
  margin-bottom: 2px;
  
  display: inline-block;
  
  background-color: #32425c;
  border-radius: 50%;
}

.account-block {
  width: 300px;
  
  text-decoration: none;
}

.account-options {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.account-options:hover,
.account-options:focus {
  color: #ee3643;
}

.account-options:active {
  color: rgba(50, 66, 92, 0.3);
}

.personal-account:active {
  display: none;
}

.user-button {
  padding-top: 14px;
  padding-bottom: 14px;
  
  display: block;
  
  font-size: 21px;
  color: #000000;

  background-color: #ffffff;
}
.modal-to-cart-buttons {
  list-style: none;
}

.user-button:hover,
.user-button:focus,
.modal-to-cart-buttons .buy-more:hover,
.modal-to-cart-buttons .buy-more:focus {
  color: #ee3643;
  outline: none;
}

.user-button:active,
.modal-to-cart-buttons .buy-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-button:hover svg,
.user-button:focus svg {
  fill: #32425C;
}

.user-button:active svg {
  fill: #c5c5c5;
}

.header-navigation {
  width: 940px;
  margin: auto;
}

.site-navigation {
  padding: 0;
  margin-bottom: 60px;
  margin: 0;
  width: 940px;

  display: flex;
  justify-content: center;
  
  background-color: #293449;
  list-style: none;
  text-align: center;
  align-items: center;
}

.site-navigation a {
 padding: 22px 31px;
 
 display: block;
 
 color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  outline: none;
  background-color: #1d2739;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/* Стили для Main и его элементов*/

main {
  width: 100%;
  min-width: 1200px;
}

.goods_block {
  margin-top: 58px;
  
  font-size: 0;
}

.goods-icon {
  width: 277px;
  padding-top: 18px;
  padding-left: 23px;
  padding-bottom: 22px;
  margin-left: 20px;
  margin-bottom: 20px;
  
  display: inline-block;
}

.goods-icon span {
  margin-right: 100px;
  margin-bottom: 15px;
  
  display: inline-block;
  
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.goods-icon a {
  padding: 10px 24px;
  margin-left: 2px;

  display: inline-block;
  
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  
  background-color: rgba(0, 0, 0, 0.1);
}

.goods-icon a:hover,
.goods-icon a:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.goods-icon a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.goods_block .material {
  margin-left: 0;
  
  background: #ffbf47 url("../img/icon-1.svg") no-repeat 213px 31px;
}

.goods_block .instrument {
  background: #3bbce3 url("../img/icon-2.svg") no-repeat 197px 33px;
}

.goods_block .technic {
  
  background: #dc91d8 url("../img/icon-3.svg") no-repeat 191px 31px;
}

.goods_block .sale {
  
  background:  #8ed78f url("../img/icon-4.svg") no-repeat 196px 26px;
}

.goods_block .delivery {
  margin-bottom: 0;
  
  background: #ffc047 url("../img/icon-5.svg") no-repeat 191px 32px;
}

.slider-icon-block {
  margin-bottom: 53px;
  
  display: flex;
}
.slide {
  line-height: 0;
}

.goods-slider {
  width: 620px;
 
  position: relative;
  
  color: #ffffff;
}

.goods-icon-right{
  width: 300px;
}

.goods-slider .slider-arrow {
  width: 55px;
  height: 55px;
  border: none;
  
  position: absolute;
  top: 114px;
}

.goods-slider .slider-arrow:hover,
.goods-slider .slider-arrow:focus {
  outline: none;
  opacity: 0.6;
}

.goods-slider .right-arrow {
  right: 8px;

  background: url("../img/icon-right.svg") no-repeat 50% 50%;
}

.goods-slider .left-arrow {
  left: 8px;
  background: url("../img/icon-left.svg") no-repeat 50% 50%;
}

.goods-slider .red-button {
  padding-left: 49px;
  padding-right: 45px;
  
  position: absolute;
  bottom: 22px;
  left: 25px; 
}

.goods-slider h2 {
  margin: 0;
  
  position: absolute;
  top: 27px;
  left: 24px;
  
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.goods-slider p {
  position: absolute;
  top: 48px;
  left: 25px;
  
  font-size: 18px;
  line-height: 24px;
}

.popular-makers-logo a {
  width: 218px;
  
  display: block;
}

.bosh-logo { 
  padding-top: 53px;
}

.makita-logo { 
  padding-top: 50px;
}

.dewalt-logo {
  padding-top: 48px;
}

.interskol-logo { 
  padding-top: 21px;
}

.hitachi-logo {
  padding-top: 58px;
}

.lg-logo {
  padding-top: 35px;
}

.aeg-logo {
  padding-top: 23px;
}

.metabo-logo {
  padding-top: 34px;
}

.service-block {
  min-height: 500px;
  margin-top: 85px;
  padding-top: 42px;
  
  background-color: #f4f7f9;
}

.service-content-container {
  width: 1070px;
  margin: auto;
  padding-left: 130px;
}

.service-block .subtitle,
.catalog-description .subtitle {
  font-weight: normal;
}

.service-block .normal-text {
  width: 398px;
}

.slider-shadow {
  width: 10px;
  height: 279px;
  
  position: absolute;
  top: 0;
  left: 230px;
  
  background: url("../img/shadow.png") no-repeat;
}

.slide-container {
  min-height: 279px;
  margin-top: 28px;
  padding-top: 28px;
  
  display: flex;
  flex-wrap: wrap;
  
  position: relative;
}

.slider-description {
  width: 750px;
  min-height: 300px;
  
  display: none;
}

.service-slider-active-slide {
  display: block;
}

.slide-delivery {
  background: url("../img/delivery.png") no-repeat 151px 38px;
}

.slide-guarantee {
  background: url("../img/guarantee.png") no-repeat 239px 20px;
}

.slide-credit {
  background: url("../img/credit.png") no-repeat 165px 20px;
}

.service-slider {
  width: 240px;
  padding: 0;
 
  list-style: none;
}


.service-slider-link {
  padding-left: 23px;
  padding-top: 22px;
  padding-bottom: 22px;
  
  display: block;
  
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  
  box-shadow: 0px 1px 0 0 var(--dark), inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.service-slider-link:hover,
.service-slider-link:focus {
  opacity: 0.9;
}

.service-slider-link:active {
 background-color: #232b36;
}

.active-link {
  color: #32425c;
  
  background-color: #ffffff; 
}
.slider-description {
  margin-left: 80px;
}

.slider-description .subtitle {
  margin-top: 20px;
  
  color: #32425c;
}

.slide-delivery-active .normal-text {
  width: 275px;
}

.slide-guarantee-active .normal-text {
  width: 379px;
}

.slide-credit-active .normal-text {
  width: 279px;
}

.credit-button {
  width: 107px;
  margin-top: 19px;
  padding: 14px 44px;
}


.main-about {
  padding-bottom: 86px;
  padding-top: 52px;
  
  display: flex;
  flex-wrap: wrap;
  
}

.about-company-block {
  display: flex;
  flex-direction: column;
  margin-right: 145px;
}

.subtitle {
  margin-bottom: 38px;
  
  font-size: 30px;
  text-transform: uppercase;
}

.normal-text {
  margin: 0;
  
  font-family: "PT Sans", 'Arial Narrow', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-partners {
  margin: 0;
  margin-top: 16px;
  padding: 0px;
  
  font-size:18px;
  line-height: 20px;
  list-style: none;
}

.delivery-partners li:not(:first-child) {
  padding-top: 12px;
  padding-left: 36px;
}

.delivery-partners li:first-child {
  padding-bottom: 26px;
}

.delivery-partners li {
  position: relative;
}

.delivery-partners li:not(:first-child)::before {
  content: "";
  
  width: 25px;
  height: 2px;

  position: absolute;
  left: 0;
  top: 20px;
  
  background-color: #ee3643;
}

.red-button {
  padding-top: 10px;
  padding-bottom: 10px;
  
  display: block;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color: #ee3643;
  border-radius: 3px;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.contacts-main .map {
  margin-top: 24px;
  margin-bottom: 39px;
  display: block;
}

.contacts-main img {
  width: 300px;
}

.about_us_button {
  width: 140px;
  margin-top: 40px;
  padding-left: 41px;
  padding-right: 40px;
}
  
.contact-us-button {
  padding-left: 63px;
  padding-right: 59px;
}

.modal {
  position: fixed;
  top: 150px;
  left: 50%;
  z-index: 100;
  display: none;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-contact-us,
.modal-to-cart {
  width: 620px;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
  
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: white;
}

.modal-to-cart p {
  padding: 68px 125px;
  padding-left: 179px;
  
  font-size: 30px;
  line-height: 30px;

  background: url("../img/modal-check.svg") no-repeat 81px 50px;
}

.modal-to-cart-buttons {
  width: 460px;
  margin: auto;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-to-cart-buttons .red-button,
.modal-to-cart-buttons a {
  padding: 10px 59px;

  font-size: 14px;
  text-transform: uppercase;
}

.modal-to-cart-buttons .buy-more {
  padding-left: 44px;
  padding-right: 48px;

  display: block;
  
  color: #000000;
  
  background-color: #ffffff;
  border-radius: 3px;
}

.contact-us-form {
  margin-top: 55px;
  padding: 0;
 
  position: relative;
}

.text-areas {
  margin-bottom: 24px;
  margin-left: 80px;
  
  font-size: 0;
}

.text-areas label {
  width: 220px;
  
  display: inline-block;
  
  font-family: "Cuprum", 'Arial Narrow', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.contact-us-form input{
  width: 190px;
  margin-top: 8px;
  padding: 7px 14px;
  border: solid 2px #dee3e4;
  
  font-family: "PT Sans", 'Arial Narrow', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  
  border-radius: 3px;
}

.contact-us-form-mail {
  margin-left: 20px;
}

.text-areas .letter-area {
  width: 460px;
  margin-top: 13px;
}

.letter-area textarea {
  width: 440px;
  margin-top: 8px;
  padding-left: 14px;
  padding-top: 8px;
  border: solid 2px #dee3e4;
  
  font-family: "PT Sans", 'Arial Narrow', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  
  border-radius: 3px;
}

.grey-background {
  padding: 51px;
  
  text-align: center;
  
  background-color: #f4f4f4;
}

.grey-background button {
  padding: 14px 198px;
  border: none;
  
  color: #ffffff;

  border-radius: 3px;
  background-color: #ee3643; 
}

.grey-background button:hover,
.grey-background button:active  {
  background-color: #ca2c37;
}
.grey-background button:active {
  background-color: #ba2732;
}

.modal-close {
  width: 30px;
  height: 30px;
  border: none;
  
  position: absolute;
  top: 5px;
  right: 5px;
  
  outline: none;
  cursor: pointer;
  background: url("../img/form-close.svg") no-repeat 50% 50%;

  z-index: 3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 0.5;
}

.modal-map {
  margin-left: -470px;
  
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.modal-map a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

/*Стили для каталога*/
.catalog {
  padding-top: 25px;
}

.catalog-menu {
  margin: 0;
  padding: 0;
  
  display: flex;

  font-family: "PT Sans", 'Arial Narrow', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
 }

.catalog-menu li:not(:last-child) {
  padding-right: 24px;
  padding-left: 16px;
  
  background: url("../img/icon-right-small.svg") no-repeat 100% 50%;
}

.catalog-menu li:last-child {
  padding-left: 16px;
}

.catalog-menu li:first-child {
  padding-left: 0;
}

.catalog-menu a{
  display: block;
  
  color: #000000;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
  color: rgba(0, 0, 0, 0.4);
}

.home {
  width: 16px;
  height: 12px;
  margin-top: 3px;
  
  background: url("../img/icon-home.svg") no-repeat;
}

.home:hover,
.home:focus {
  opacity: 0.5;
}

.home:active {
  opacity: 0.8;
}

.block-title-container {
  width: 940px;
  
  display: flex;
  flex-wrap: wrap;
  
  background-color: #f9f5f0;
}

.block-title-container-catalog {
  margin-top: 25px;
  
  background-color: #f2f6f8;
}

.block-title {
  width: 630px;
  margin: 0;
  padding-top: 35px;
  padding-left: 27px;
  padding-bottom: 37px;
  
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;  
  color: #32425c;
}

.block-title-container .red-button {
  width: 253px;
  margin-top: 25px;
  margin-bottom: 25px;

  text-align: center;
}

.filter-container {
  margin-top: 20px;
  
  display: flex;
  flex-wrap: wrap;
}

.filter {
  width: 220px;

  font-family: "PT Sans", 'Arial Narrow', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}


.filter-label {
  margin-bottom: 20px;
  padding-left: 35px;
  
  position: relative;
  
  display: block;
  
  cursor: pointer;
  user-select: none;
}

.filter-label svg {
  position: absolute;
  top: -3px;
  left: 0px;
  
  fill: #c5c5c5;
}

.filter-label::before {
  content: "";
  
  width: 19px;
  height: 19px;
  border: 2px solid #c5c5c5;
  
  position: absolute;
  top: -3px;
  left: 0;
  
  border-radius: 3px;
}

.power-label::before {
  content: "";
  
  width: 19px;
  height: 19px;
  border: 4px solid #c5c5c5;
  
  position: absolute;
  top: -3px;
  
  border-radius: 50%;
}

.power-label::after {
  content: "";
  
  width: 11px;
  height: 11px;
  
  display: block;
  
  position: absolute;
  top: 5px;
  left: 8px;
  
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-label:hover svg,
.filter-label:focus svg {
  fill: #b5b5b5;
}

.filter-label:hover::before,
.filter-label:focus::before {
  border-color: #b5b5b5;
}

.power-label:hover::after,
.power-label:focus::after {
  background-color: #b5b5b5;
}

.filter input[type="checkbox"],
.filter input[type="checkbox"]:checked,
.filter input[type="radio"],
.filter input[type="radio"]:checked {
  position: absolute;
  
  opacity: 0;
}

.filter input[type="checkbox"]:not(:checked) + label svg{
  display: none;
}

.filter input[type="radio"]:not(:checked) + .power-label::after {
  display: none;
}

.filter input[type="checkbox"]:checked + .filter-label::before {
  display: none;
}

.filter-top-text {
  padding: 9px 18px;
  
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color: #f7f3ec;
}

.filter .filter-top-text {
  margin-bottom: 10px;
}

.filter legend {
  margin-bottom: 10px;
  
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.filter-item {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #f7f3ec;
  margin-bottom: 15px;
}

.filter .power-option {
  border: none;
}

.range-filter {
  width: 220px;
  margin-bottom: 25px;
}

.range-controls {
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  position: relative;
  
  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  
  background: #d7dcde;
}

.range-controls .bar {
  width: 84%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  
  position: absolute;
  top: 31px;
  left: 0;
  
  font-size: 0;

  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls label {
  padding: 0px;
  
  display: inline-block;

  font-size: 16px;
  line-height: 18px;
}

.price-controls input {
  width: 75px;
  padding: 8px 10px;
  border: none;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border-radius: 5px;
  background: #f7f3ec;
}


.catalog-button {
  padding: 10px 39px;
  border: solid 1px #e5e5e5;
  
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
    
  background-color: #ffffff;
}

.catalog-button:hover, 
.catalog-button:focus {
  outline: none;
  border: solid 1px #bdc6ca;
}

.catalog-button:active {
  border: solid 1px #ee3643;
}

.catalog-block {
  width: 702px;
  margin-left: 18px;
  
  font-family: "PT Sans", 'Arial Narrow', sans-serif;
  line-height: 18px;
}

.sorting-menu {
  margin: 0;
  margin-left: 139px;
  padding: 0;
  
  display: inline-block;
  
  position: relative;
}

.sorting-menu li {
  padding: 0;
  margin: 0;
  
  display: inline-block;
}

.sorting-menu li:first-child {
  padding-right: 61px;
}

.sorting-menu li:nth-child(2) {
  padding-right: 55px;
}

.sorting-menu li:nth-child(3) {
  padding-right: 36px;
}

.sorting-menu a {
  border-bottom:  1px dashed #ee3643;
  
  color: rgba(0, 0, 0, 0.3);
 }

.sorting-menu a:hover,
.sorting-menu a:focus {
  border-bottom: 1px solid #ee3643;
  
  color: #000000;
 }

.sorting-menu .active-link {
  border: none;
  
  color:#ee3643;

  background-color: transparent;
}

.sorting-menu .arrow {
  
  border: 7px solid transparent;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  
  display: block;
  
  position: absolute;
}

.sorting-menu .up-arrow {
  border-top: 11px solid transparent;
  border-bottom: 11px solid #c5c5c5;
  
  top: -9px;
  right: -11px;
}

.sorting-menu .up-arrow:hover,
.sorting-menu .up-arrow:focus {
  border-bottom: 11px solid #000000;
}

.sorting-menu .down-arrow:hover,
.sorting-menu .down-arrow:focus {
  border-top: 11px solid #000000;
}

.sorting-menu .up-arrow-active {
  border-bottom: 11px solid #ee3643;
}

.sorting-menu .down-arrow-active {
  border-top: 11px solid #ee3643;
}

.sorting-menu .down-arrow {
  border-top: 11px solid #c5c5c5;
  border-bottom: 11px solid transparent;
  
  top: 3px;
  right: -44px;
}

.filter-sort-menu {
  display: flex;
  flex-wrap: wrap;
}

.catalog-items,
.catalog-popular,
.popular-makers-logo {
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
 
  list-style: none;
}

.catalog-items img,
.catalog-popular img {
  width: 218px;
}


.catalog-popular {
  margin-bottom: 21px;
}

.catalog-items li,
.catalog-popular li,
.popular-makers-logo li {
  width: 218px;
  margin-top: 20px;
  margin-right: 20px;
  border: solid 1px #e5e5e5;
  
  font-family: "PT Sans", 'Arial Narrow', sans-serif;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.popular-makers-logo li{
  height: 143px;
}


.catalog-items li:nth-child(3n),
.catalog-popular li:nth-child(4n),
.popular-makers-logo li:nth-child(4n) {
  margin-right: 0;
}

.catalog-items li:hover,
.catalog-items li:focus,
.catalog-popular li:hover,
.catalog-popular li:focus,
.popular-makers-logo li:hover,
.popular-makers-logo li:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-makers-logo li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.catalog-items {
  margin-bottom: 12px;
}

.catalog-items li:hover img,
.catalog-items li:focus img,
.catalog-popular li:hover img,
.catalog-popular li:focus img {
  display: none;
}

.catalog-items li:hover .buy-button,
.catalog-items li:focus .buy-button,
.catalog-items li:hover .to-bookmarks,
.catalog-items li:focus .to-bookmarks,
.catalog-popular li:hover .buy-button,
.catalog-popular li:focus .buy-button,
.catalog-popular li:hover .to-bookmarks,
.catalog-popular li:focus .to-bookmarks {
  display: block;
}

.catalog-items-user-buttons {
  margin-bottom: 0;
  
  display: flex;
  flex-direction: column;
}

.buy-button {
  margin-top: 44px;
  margin-left: 42px;
  margin-right: 43px;
  padding: 10px 45px;
  padding-left: 49px;
  
  display: none;
  
  font-family: "Cuprum", 'Arial Narrow', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  
  box-shadow: inset 0px -3px 0 0 #367315;
  background: #63a63e url("../img/cart-icon.svg") no-repeat 12px 50%;
}

.buy-button:hover,
.buy-button:focus {
  display: inline-block;
  
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.to-bookmarks {
  margin-top: 7px;
  margin-left: 42px;
  margin-right: 42px;
  margin-bottom: 44px;
  padding: 8px 30px;
  border: solid 3px #63a63e;
  
  display: none;
  
  font-family: "Cuprum", 'Arial Narrow', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
  border: solid 3px #32425c;
}

.to-bookmarks:active {
  opacity: 0.3;
}

.new-item {
  position: relative;
}

.new-item::before {
  content: "";
  
  width: 60px;
  height: 60px;
  
  position: absolute;
  top: 0;
  right: 0;
  
  background: url(../img/new-flag.png) no-repeat;
}

.catalog-items h3,
.catalog-popular h3 {
  margin: 0;
  
  font-size: 18px;
}

.catalog-items p,
.catalog-popular p {
  margin: 0;
  margin-top: 10px;
  
  color: #999999;
}

.catalog-item-buy-option {
  margin-left: 43px;
  margin-top: 9px;
  margin-bottom: 21px;
  margin-right: 36px;
  padding: 10px 36px;
  
  display: block;

  position: relative;
  
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.bfg-2000 .catalog-item-buy-option {
  margin-top: 38px;
}

.catalog-item-buy-option::after {
  content: "";
   
  width: 0;
  height: 0;
  order: 20px solid white;
  
  position: absolute;
  top: 0;
  right: -20px;

  border-left-color: #ee3643;
}

.page-number-switch {
  margin-top: 52px;
  padding: 0;
  
  font-size: 0;
  text-align: left;
}

.page-number-switch li{
  padding-right: 10px;
  
  display: inline-block;
  
  text-align: center;
}

.page-number-switch a {
  padding: 9px 15px;
  padding-right: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  
  display: block;
  
  font-size: 13px;
  color: #000000;
}

.page-number-switch .current-page-number {
  color: #ffffff;
  
  background-color: #ee3643;
}

.page-number-switch a:hover,
.page-number-switch a:focus {
  border-color: #bdc6ca;
}

.page-number-switch a:active {
  border-color: #ee3643;
}

.page-number-switch .next-page {
  padding-left: 37px;
  padding-right: 37px;
}

.catalog-description {
  width: 100%;
  min-width: 1200px;
  min-height: 261px;
  margin-top: 60px;
  padding-top: 42px;

  background-color: #f4f7f9;
}

.catalog-description p {
  width: 938px;
}
/*Стили для footer и его элементов*/

footer {
  width: 100%;
  min-width: 1200px;
  
  background-color: #32425c;
}

.footer-bottom-navigation {
  min-height: 193px;
  
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.logo-footer {
  padding: 17px 41px;
  padding-bottom: 25px;
  position: absolute;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-contacts {
  width: 323px;
  margin-top: 100px;
  
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation {
  margin-left: 63px;
}

.footer-menu {
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.top-menu {
  margin-top: 42px;
}

.sub-menu {
  margin-top: 35px;
  margin-left: 35px;
}

.footer-menu li:not(:last-child) {
  padding-right: 60px;
  
  display: block;
}

.top-menu a {
  color: #f1f5f7;
}

.footer-menu a:hover,
.footer-menu a:focus {
  text-decoration: underline;
}

.sub-menu a {
  color: #ffd180;
}

.top-menu a:active{
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.sub-menu a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.additional-info {
  min-height: 107px;
  
  display: flex;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.additional-info a {
  color: #ffd180;
}

.additional-info a:hover,
.additional-info a:focus {
  text-decoration: underline;
}

.additional-info a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social {
  margin-left: 161px;
  margin-top: 35px;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.footer-social li:not(:last-child) {
  margin-right: 3px;
}

.vk {
  background: url(../img/vk-icon.svg) no-repeat 50% 50%;
}

.facebook {
  background: url(../img/fb-icon.svg) no-repeat 50% 50%;
}

.instagram {
  background: url(../img/insta-icon.svg) no-repeat 50% 50%;
}

.social-button {
  display: block;
  width: 42px;
  height: 42px;
  
  border-radius: 50%;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.copyright {
  margin-top: 39px;
  width: 230px;
}

.mail-to-us {
  width: 135px;
  margin-left: 119px;
  margin-top: 40px;
}

.who-made {
  width: 96px;
  margin-left: 53px;
  margin-top: 40px;
}

.display-none {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}